<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ahhh_joh.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
				<key>dateExpires</key>
				<string>10/1/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>open_file.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>printing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TN569PG595.com.laodev.ahhhJoh</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TN569PG595</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>TN569PG595.com.laodev.ahhhJoh</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1e5e27cd-df0f-47f5-946f-9b09560a4e18</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.laodev.ahhhJoh</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TN569PG595</string>
				<key>name</key>
				<string>Anthony Souphavanh</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
